In [14]:
users = [
{ "id": 0, "name": "Hero" },
{ "id": 1, "name": "Dunn" },
{ "id": 2, "name": "Sue" },
{ "id": 3, "name": "Chi" },
{ "id": 4, "name": "Thor" },
{ "id": 5, "name": "Clive" },
{ "id": 6, "name": "Hicks" },
{ "id": 7, "name": "Devin" },
{ "id": 8, "name": "Kate" },
{ "id": 9, "name": "Klein" }
]

In [16]:
friendships = [(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4),
(4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]

In [17]:
#add a list of friends to each user 

for user in users:
   user['friends']  = []

In [18]:
#populate the lists using the friendships data

for i, j in friendships:
    users[i]['friends'].append(users[j]) #add i as friend to j
    users[j]['friends'].append(users[i]) #add j as friend to i

In [19]:
#Find avg number of connections

def number_of_friends(user):
    return len(user['friends']) #length of friend IDs list

total_connections = sum(number_of_friends(user)
                       for user in users) #24

In [20]:
from __future__ import division
num_users = len(users)
avg_connections = total_connections/num_users #2.4

print(avg_connections)

2.4

In [8]:
#creating a list of user_id, num_friends

num_friends_by_id = [(user['id'],number_of_friends(user))
                      for user in users]

sorted(num_friends_by_id, # get it sorted
       key=lambda (user_id, num_friends: num_friends, # by num_friends
       reverse=True) # largest to smallest

SyntaxError: invalid syntax (<ipython-input-8-d2061d210170>, line 7)

In [28]:
from collections import Counter # not loaded by default

def not_the_same(user, other_user):
    """two users are not the same if they have different ids"""
    return user["id"] != other_user["id"]

def not_friends(user, other_user):
    """other_user is not a friend if he's not in user["friends"];
    that is, if he's not_the_same as all the people in user["friends"]"""
    return all(not_the_same(friend, other_user)
               for friend in user["friends"])

def friends_of_friend_ids(user):
    return Counter(foaf["id"]
                   for friend in user["friends"] # for each of my friends
                   for foaf in friend["friends"] # count *their* friends
                   if not_the_same(user, foaf) # who aren't me
                   and not_friends(user, foaf)) # and aren't my friends

print(friends_of_friend_ids(users[3]))

Counter({0: 2, 5: 1})

In [65]:
interests = [
(0, "Hadoop"), (0, "Big Data"), (0, "HBase"), (0, "Java"),
(0, "Spark"), (0, "Storm"), (0, "Cassandra"),
(1, "NoSQL"), (1, "MongoDB"), (1, "Cassandra"), (1, "HBase"),
(1, "Postgres"), (2, "Python"), (2, "scikit-learn"), (2, "scipy"),
(2, "numpy"), (2, "statsmodels"), (2, "pandas"), (3, "R"), (3, "Python"),
(3, "statistics"), (3, "regression"), (3, "probability"),
(4, "machine learning"), (4, "regression"), (4, "decision trees"),
(4, "libsvm"), (5, "Python"), (5, "R"), (5, "Java"), (5, "C++"),
(5, "Haskell"), (5, "programming languages"), (6, "statistics"),
(6, "probability"), (6, "mathematics"), (6, "theory"),
(7, "machine learning"), (7, "scikit-learn"), (7, "Mahout"),
(7, "neural networks"), (8, "neural networks"), (8, "deep learning"),
(8, "Big Data"), (8, "artificial intelligence"), (9, "Hadoop"),
(9, "Java"), (9, "MapReduce"), (9, "Big Data")
]

In [23]:
def data_scientists_who_like(target_interest):
    return [user_id
            for user_id, user_interest in interests
            if user_interest == target_interest]

In [33]:
from collections import defaultdict

# keys are interests, values are lists of user_ids with that interest
user_ids_by_interest = defaultdict(list)
for user_id, interest in interests:
    user_ids_by_interest[interest].append(user_id)

# keys are user_ids, values are lists of interests for that user_id
interests_by_user_id = defaultdict(list)
for user_id, interest in interests:
    interests_by_user_id[user_id].append(interest)

In [30]:
def most_common_interests_with(user):
    return Counter(interested_user_id
                   for interest in interests_by_user_id[user["id"]]
                   for interested_user_id in user_ids_by_interest[interest]
                   if interested_user_id != user["id"])

In [31]:
#Visualization

salaries_and_tenures = [(83000, 8.7), (88000, 8.1),
                        (48000, 0.7), (76000, 6),
                        (69000, 6.5), (76000, 7.5),
                        (60000, 2.5), (83000, 10),
                        (48000, 1.9), (63000, 4.2)]

In [35]:
salary_by_tenure = defaultdict(list)

for salary, tenure in salaries_and_tenures:
    salary_by_tenure[tenure].append(salary)

In [41]:
average_salary_by_tenure = {
    tenure: sum(salaries)/ len(salaries)
    for tenure, salaries in salary_by_tenure.items()
}

#keys are years, each value is average salary for that tenure
#average_salary_by_tenure = {
#tenure : sum(salaries) / len(salaries)
#for tenure, salaries in salary_by_tenure.items()
#

In [43]:
average_salary_by_tenure

{8.7: 83000.0,
 8.1: 88000.0,
 0.7: 48000.0,
 6: 76000.0,
 6.5: 69000.0,
 7.5: 76000.0,
 2.5: 60000.0,
 10: 83000.0,
 1.9: 48000.0,
 4.2: 63000.0}

In [44]:
def tenure_bucket(tenure):
    if tenure < 2:
        return "less than two"
    elif tenure < 5:
        return "between two and five"
    else:
        return "more than five"

In [45]:
#group salaries corresponding to each bucket

salary_by_tenure_bucket = defaultdict(list)

for salary, tenure in salaries_and_tenures:
    bucket = tenure_bucket(tenure)
    salary_by_tenure_bucket[bucket].append(salary)

In [51]:
average_salary_by_bucket = {
tenure_bucket : sum(salaries) / len(salaries)
for tenure_bucket, salaries in salary_by_tenure_bucket.items()
}

In [59]:
average_salary_by_bucket

{'more than five': 79166.66666666667,
 'less than two': 48000.0,
 'between two and five': 61500.0}

In [63]:
def predict_paid_or_unpaid(years_experience):
    if years_experience < 3.0:
        return "paid"
    elif years_experience < 8.5:
        return "unpaid"
    else:
        return "paid"

In [67]:
print(interests)

[(0, 'Hadoop'), (0, 'Big Data'), (0, 'HBase'), (0, 'Java'), (0, 'Spark'), (0, 'Storm'), (0, 'Cassandra'), (1, 'NoSQL'), (1, 'MongoDB'), (1, 'Cassandra'), (1, 'HBase'), (1, 'Postgres'), (2, 'Python'), (2, 'scikit-learn'), (2, 'scipy'), (2, 'numpy'), (2, 'statsmodels'), (2, 'pandas'), (3, 'R'), (3, 'Python'), (3, 'statistics'), (3, 'regression'), (3, 'probability'), (4, 'machine learning'), (4, 'regression'), (4, 'decision trees'), (4, 'libsvm'), (5, 'Python'), (5, 'R'), (5, 'Java'), (5, 'C++'), (5, 'Haskell'), (5, 'programming languages'), (6, 'statistics'), (6, 'probability'), (6, 'mathematics'), (6, 'theory'), (7, 'machine learning'), (7, 'scikit-learn'), (7, 'Mahout'), (7, 'neural networks'), (8, 'neural networks'), (8, 'deep learning'), (8, 'Big Data'), (8, 'artificial intelligence'), (9, 'Hadoop'), (9, 'Java'), (9, 'MapReduce'), (9, 'Big Data')]

In [68]:
 #lower case each user's interest
words_and_counts = Counter(word
                          for user, interest in interests
                          for word in interest.lower().split())

In [70]:
for word, count in words_and_counts.most_common():
    if count > 1:
        print(word, count)

big 3
data 3
java 3
python 3
learning 3
hadoop 2
hbase 2
cassandra 2
scikit-learn 2
r 2
statistics 2
regression 2
probability 2
machine 2
neural 2
networks 2

In [74]:
for i in [1, 2, 3, 4, 5]:
    
# notice the blank line
print(i)

IndentationError: expected an indented block (<ipython-input-74-a21a1c9d5587>, line 4)

In [79]:
import re 
my_regex = re.compile("[0-9]+", re.I)
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [80]:
import matplotlib.pyplot as plt

from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

In [84]:
5 // 2

2

In [87]:
def double(x):
    """ multiplies the input value by 2"""
    return x * 2

In [89]:
double(23)

46

In [92]:
def apply_to_one(f):
    """calls the function f with 1 as its argument"""
    return f(1)

my_double = double # refers to the previously defined function
x = apply_to_one(my_double)

In [93]:
y = apply_to_one(lambda x: x + 4)

In [94]:
def square(x):
    return x ** 2

In [95]:
square(10)

100

In [103]:
lst = range(10)

In [104]:
lst

range(0, 10)

In [109]:
lst2 = [1,2,3,4,5,7,8,9,11]

In [112]:
first_three = lst[:3]

In [113]:
 first_three

range(0, 3)

In [111]:
first_three2 = lst2[:3]

In [114]:
print(first_three)
print(first_three2)

range(0, 3)
[1, 2, 3]

In [116]:
tweet = {
    "user" : "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_count" : 100,
    "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [117]:
tweet_keys = tweet.keys()
tweet_values = tweet.values()
tweet_items = tweet.items()

In [127]:
"joelgrus" in tweet.values()

True

In [129]:
from collections import defaultdict

#word_counts = {}
word_counts = defaultdict(int)
for word in document:
    if word in word_counts:
        word_counts[word] += 1
# else:
#    word_counts[word] = 1

NameError: name 'document' is not defined

In [130]:
from collections import Counter
c = Counter([0, 1, 2, 0])

In [131]:
c

Counter({0: 2, 1: 1, 2: 1})

In [132]:
parity = "even" if x%2 == 0 else "odd"

In [138]:
for x in range(10):
    if x == 3:
        continue # go immediately to the next iteration
        if x == 5:
            break # quit the loop entirely
        print(x)

In [140]:
range(x)

range(0, 9)

In [144]:
class Set:
    def __init__(self,values=None):
        self.dict = {}
        if values is not None:
            for value in values:
                self.add(value)
            
    def __repr__(self):
        return "Set: " + str(self.dict.keys())
    
    def add(self,value):
        self.dict[value] = True
        
    def contains(self, value):
        return value in self.dict
        
    def remove(self, value):
        del self.dict[value]

In [143]:
s = Set([1,2,3,4])
s.add(4)
print(s.contains(4))
s.remove(3)
print(s.contains(3))

True
False

In [145]:
def exp(base, power):
    return base ** power

In [146]:
 def two_to_the(power):
        return exp(2, power)

In [149]:
print(two_to_the(4)) 

print(exp(2,3))

16
8

In [151]:
list1 = ['a','b','c','d']
list2 = [1, 2, 3, 4]
zipped_lst = zip(list1, list2)

In [153]:
print(zipped_lst)

<zip object at 0x7f9a3f5d4640>

In [157]:
k = list(zip(*zipped_lst))

In [158]:
print(k)

[]

In [159]:
x = [1, 2, 3]; y = ['a', 'b', 'c']

z = zip(x, y)
#print(list(z))                #2nd print statement returns [] if this line is uncommented

unzip = zip(*z)
print(list(unzip))             #returns [(1, 2, 3), ('a', 'b', 'c')]

[(1, 2, 3), ('a', 'b', 'c')]